* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:link,
    &:active,
    &:visited {
        color: black;
    }
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 29px;
}

h2 {
    font-size: 2.3125rem;
    font-weight: 600;
    text-align: left;
    margin: 0px 0px 20px;
}

@media (max-width:1080px) {
    h2 {
        font-size: 1.8125rem;
    }
}

@media (max-width:870px) {
    h2 {
        font-size: 1.5rem;
    }
}

nav {
    height: 54px;
    display: flex;
    align-items: center;

    .menu {
        display: flex;
        font-size: 13px;

        li {
            padding: 10px 8px 10px;
            cursor: pointer;
            border: 1px dashed transparent;

            &:hover span {
                border-bottom: 2px solid black;
            }

            &:active,
            &:focus {
                border: 1px dashed black;
            }

            &:focus span {
                border-bottom: 2px solid black;
            }
        }

        span {
            padding-bottom: 2px;
            font-size: 13px;
        }

        .fa-magnifying-glass {
            transform: scaleX(-1);
        }

    }
}

.container-normal {
    width: 90%;
    margin: auto;
    max-width: 1600px;

    .logo {
        padding: 10px 20px;
        border: 1px dashed transparent;

        img {
            width: 108px;
        }

        &:active,
        :focus {
            border: 1px dashed black;
        }
    }

    .func-menu {
        // min-width: 400px;
        margin-left: auto;
        justify-content: flex-end;
        position: relative;

        .allmicrosoft {

            // display: inline-block;
            .ham-me {
                cursor: pointer;
            }

            .ham-pc {
                // display: none;
                background-color: #F2F2F2;
                position: absolute;
                top: 54px;
                right: 10%;
                z-index: 9;

                ul {
                    display: flex;
                    justify-content: flex-start;

                    li {
                        width: calc((100% - 10px) / 6);
                    }

                    p {
                        width: 100%;
                    }
                }
            }

            #menu-switch:checked div {
                display: block;
            }
        }

        .ham-small {
            display: none;
            margin: 0;

            .ham-menu {
                display: block;
                background-image: url(../img/img-nav/ham.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 32px;
                height: 28px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .text-hide {
        display: none;
    }

    .container-normal.func-menu {
        min-width: 200px;
    }
}

@media (max-width: 1080px) {
    .container-normal {
        width: 100%;
        padding: 0px 15px;
    }

    h2.container-normal {
        padding: 0px;
    }
}

@media (max-width:870px) {

    .container-normal {
        position: relative;
        // padding: 0px;

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .pc-menu {
            display: none;
        }

        .func-menu {
            width: 100%;

            .allmicrosoft {
                display: none;
            }

            .ham-small {
                display: block;
                margin: 0px;
                align-self: center;
            }

            .mobile-menu {
                display: none;
                background-color: #f2f2f2;
                width: 100%;
                position: absolute;
                z-index: 20;
                left: 0;
                top: 54px;
                border-bottom: 2px solid black;
            }

            #ham-menu-switch:checked~.mobile-menu {
                display: block;
            }

            .mobile-menu li {
                padding: 15px 30px;
                border: 1px solid #e6e6e6;
                font-size: 15px;
            }

            .mobile-menu li i {
                float: right;
            }

            .mobile-menu li i:nth-of-type(1) {
                display: none
            }

            .chevron-switch:checked+label .sub-dropdown-menu,
            .chevron-switch:checked+label li i:nth-of-type(1) {
                display: block;
            }

            .chevron-switch:checked+label li i:nth-of-type(2) {
                display: none;
            }

            .chevron-switch:not(:checked)+label .sub-dropdown-menu {
                display: none;
            }

        }


        .search {
            margin-right: auto;
        }
    }
}

.main-choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;

    .one-choice {
        margin: 16px 24px;
        text-align: center;

        a {
            text-decoration: underline #0067B8;

            div {
                border: 2px dashed transparent;
            }

            &:active,
            &:visited,
            &:focus {
                color: #0067B8;

                div {
                    border: 2px dashed #0067B8;
                }
            }

            img {
                margin: 0px 0px 8px;
            }
        }
    }
}

.four-card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    .one-card {
        width: calc((100% - 20px * 3) / 4);
        height: 550px;

        a {
            &:visited {
                color: black;
            }
        }

        .click {
            padding: 16px 0px 0px;

            a {
                color: #0067B8;
                border: 2px dashed transparent;
                font-weight: bold;
                padding: 5px 40px 5px 0px;

                &:active,
                &:focus {
                    border: 2px dashed #0067B8;
                }

                &:focus span {
                    border-bottom: 1px solid #0067B8;
                }

                &:hover span::before {
                    right: -40px;
                }
            }

            span {
                position: relative;

                &:hover {
                    border-bottom: 1px solid #0067B8;
                }

                &::before {
                    content: ">";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    color: #0067B8;
                    top: -5px;
                    right: -30px;
                }
            }
        }


        img {
            width: 100%;
        }
    }
}

@media (max-width:1080px) {
    .four-card .one-card {
        width: calc((100% - 20px) / 2);
        height: 500px;
    }
}

@media (max-width:540px) {
    .four-card {
        justify-content: center;
    }

    .four-card .one-card {
        width: calc(100% - 20px);
        height: 500px;
    }
}


.h2 {
    margin: 20px 0px;
}

.other-s {
    margin: 0px 12px 80px 0px;
    display: inline-block;

    span {
        margin-left: 12px;
    }

}

.other img {
    width: 32px;
    margin-bottom: -10px;
    border: 2px dashed transparent;

    &:active,
    &:focus {
        border: 2px dashed #0067B8;
    }
}

.gotop {
    padding: 10px 12px;
    background-color: #D9D9D9;
    float: right;
    margin: 20px 20px 40px;
    position: sticky;
    bottom: 20px;
    z-index: 3;

    &:hover {
        background-color: #f2f2f2;
    }
}

.container-full {
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    clear: right;

    .footer-menu {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        ul {
            width: calc(100% / 6);
            padding: 0;

            li {
                margin: 15px 0px;

                a {
                    color: black;
                    border: 1px dashed transparent;
                    padding: 5px;

                    &:active {
                        border: 1px dashed black;
                    }

                    &:focus {
                        border: 1px dashed black;

                        span {
                            border-bottom: 1px solid black;
                        }
                    }

                    &:active,
                    &:link {
                        color: black;

                        span:hover {
                            border-bottom: 1px solid black;
                        }
                    }
                }

            }
        }
    }

    .footer-nav {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        ul {
            display: flex;
            padding: 0;

            a {
                padding: 15px 8px 10px;
                margin-top: -5px;
                cursor: pointer;
                border: 1px dashed transparent;

                &:hover span {
                    border-bottom: 1px solid black;
                }

                &:active,
                &:focus {
                    border: 1px dashed black;
                }

                &:focus span {
                    border-bottom: 1px solid black;
                }

                span:active {
                    color: black;
                }

            }

            a.c:active,
            a.c:hover {
                border: 1px dashed transparent;
                cursor: text;
            }
        }
        .b-r{
            margin-left: auto;
            flex-wrap: wrap;
        }
    }
}

@media (max-width:1080px) {
    .container-full {
        .footer-menu ul {
            width: calc(100% / 3);
        }
        .footer-nav{
            align-items: start;
        }
    }

    .btm {
        flex-direction: column;
    }
}

@media (max-width:860px) {
    .container-full .footer-nav .b-r {
        margin: 0;
    }
}

@media (max-width:540px) {
    .container-full .footer-menu ul {
        width: 100%;
    }
}